.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__image {
    width: 480px;
    height: 240px;
}

.container__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 20px;
}

.container__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__label {
  
}